:root {
    --canvas-width: 600px;
    --canvas-height: 600px;
}



#page {
    background: #211d2f;
    display: grid;
    grid-template-rows: 10vmin 15vmin 1fr;
    grid-template-columns: 1fr var(--canvas-width) 3fr;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;

    #title {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
        text-transform: capitalize;
        font-weight: 400;
        font-size: minmax(3vmin, 5vmin); 
        color: #f0f3f9;
        width: auto;
        height: auto;
    }

    #game {
        margin: 0;
        grid-row: 2/end;
        grid-column: 2/3;
        background-color: rgb(214, 223, 138);
        width: var(--canvas-width);
        height: var(--canvas-height);
        display: flex;
        border-radius: 1vmin;
        border: 0.5vmin solid black;

        #game-canvas {
            flex-grow: 1;
            background-color: rgb(214, 223, 138);
            border-radius: 1vmin;
        }
    }

    .button {
        color: #f0f3f9;            
        padding: 1vmin;
        font-size: 2vmin;
        font-weight: 400; 
        background-color: rgb(80 66 173/1);
        border-radius: 2vmin;
        border: 1vmin solid #211d2f;
        text-align: center;
        width: auto;
        height: auto;
    }

    #game-flow-buttons {
        grid-row: 2/3;
        grid-column: 3/4;
        width: auto;
        height: minmax(3vmin, 5vmin);
        display: grid;
        grid-template-columns: 1fr minmax(15vmin, 20vmin) 1fr minmax(15vmin, 20vmin) 1fr;
        justify-content: center;
        align-items: center;

        .button { min-width: minmax(15vmin, 20vmin); }

        #start-game { grid-column: 2/3; }
        #pause-game { grid-column: 4/5; }
    }

    #directional-buttons {
        grid-row: 3/4;
        grid-column: 3/4;
        display: flex;
        position: relative;
        min-width: 40vmin;
        min-height: 40vmin;        

        .button {
            position: absolute;
            left: calc(50% - 5vmin);
            top: calc(50% - 15vmin);
            min-width: 10vmin;
            min-height: 10vmin;
            font-size: 2vmin;
            background: #211d2f;
            transform: translateX(50%);

            img { width: 5vmin; }
        }

        #up { 
            transform: translate(0%, -100%); 

            img { transform: rotate(-90deg); }
        }

        #down { 
            transform: translate(0%, 100%); 

            img { transform: rotate(90deg); }
        }

        #left { 
            transform: translate(-100%, 0%); 

            img { transform: rotate(180deg); }
        }

        #right { transform: translate(100%, 0%); }
    }
}

