:root {
    --canvas-width: 90vmin;
    --canvas-height: 90vmin;
    --before-canvas-width: 50vmin;
    --after-canvas-width: 40vmin;
    --game-canvas-margin: 5vmin;
    --directional-button-size: 12vmin;
    --difficulty-button-size: 10vmin;
    --gameflow-button-size: 20vmin;
    --max-screen-width-for-directional-buttons: 1024px;
}

.button {
    color: #f0f3f9;            
    padding: 1vmin;
    font-size: 2vmin;
    font-weight: 400; 
    background: #211d2f;
    border-radius: 2vmin;
    border: 1vmin solid #211d2f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page {
    background: #211d2f;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    width: 100vw;
    height: 100vh;
    padding-top: 5vmin;
}

#directional-buttons {
    display: none;
}

@media screen and (max-width: 1024px) {
    #directional-buttons {
        min-width: var(--before-canvas-width);
        position: relative;

        #up, #down, #left, #right {
            border-radius: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            width: var(--directional-button-size);
            height: var(--directional-button-size);
            background: #211d2f;
        }
        
        #up { transform: translate(-50%, -200%) rotate(-90deg); }

        #down { transform: translate(-50%, 100%) rotate(90deg); }

        #left { transform: translate(-200%, -50%) rotate(180deg); }

        #right { transform: translate(100%, -50%); }
    }
}
#game {
    display: flex;
    justify-content: center;
    height: var(--canvas-height);
    width: var(--canvas-width);
}

#game-canvas {
    flex-grow: 1;
    background: rgb(214, 223, 138);
    border: 0.5vmin solid black;
    border-radius: 1vmin;    
    image-rendering: crisp-edges;
}

#after-canvas {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-stats {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-stats h1 { 
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#game-stats h1, #score-board {
    font-size: 3vmin;
    font-weight: 400;
    color: #f0f3f9;
}

#difficulty-buttons {
    flex-grow: 2;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#easy, #medium, #hard { 
    flex-basis: var(--difficulty-button-size);
}

#score-board {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: justify;
    text-transform: uppercase;
}

#score-title {
    width: auto;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

#score {
    text-align: center;
    flex-grow: 5;
    height: auto;
    background: #302b42;
    margin-right: 2vmin;
}

#game-flow-buttons {
    flex-grow: 3;
    display: grid;
    grid-template-rows: 1fr var(--gameflow-button-size) 1fr;
    grid-template-columns: 1fr var(--gameflow-button-size) 1fr var(--gameflow-button-size) 1fr;
}

#start-pause, #stop { grid-row: 2/3; }
#start-pause { grid-column: 2/3; }
#stop { grid-column: 4/5; }




