:root {
    --canvas-width: 600px;
    --canvas-height: 600px;
    --buttom-width: calc(var(--canvas-width) * 0.2);
}

#page {
    background: #211d2f;
    display: grid;
    grid-template-rows: 10vmin var(--canvas-height) 1fr;
    grid-template-columns: 1fr var(--canvas-width) 1fr;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    position: relative;

    #title {
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
        font-weight: 400;
        font-size: 5vmin; 
        color: #f0f3f9;
    }

    #game {
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: rgb(214, 223, 138);
        width: var(--canvas-width);
        height: var(--canvas-height);
        display: flex;
        border-radius: 1vmin;
        border: 0.5vmin solid black;

        #game-canvas {
            flex-grow: 1;
            background-color: rgb(214, 223, 138);
            border-radius: 1vmin;
            image-rendering: crisp-edges;
        }
    }

    .button {
        color: #f0f3f9;            
        padding: 1vmin;
        font-size: 2vmin;
        font-weight: 400; 
        background-color: rgb(80 66 173/1);
        border-radius: 2vmin;
        border: 1vmin solid #211d2f;
        text-align: center;
        width: auto;
        height: auto;
        padding: 1vmin;
    }

    #game-flow-buttons {
        grid-row: 3/4;
        grid-column: 2/3;
        width: var(--canvas-width);
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr var(--button-width) 1fr var(--button-width) 1fr;
        justify-content: center;
        align-items: center;

        .button { min-width: var(--buttom-width); }

        #start-game, #pause-game { grid-row: 2/3; }
        #start-game { grid-column: 2/3; }
        #pause-game { grid-column: 4/5; }
    }

    #directional-buttons {
        grid-row: 2/3;
        grid-column: 3/4;
        display: flex;
        position: relative;

        .button {
            position: absolute;
            left: 20%;
            top: 50%;
            min-width: 10vmin;
            font-size: 2vmin;
            background: #211d2f;

            img { width: 5vmin; }
        }

        #up { 
            transform: translate(0%, -100%); 

            img { transform: rotate(-90deg); }
        }

        #down { 
            transform: translate(0%, 100%); 

            img { transform: rotate(90deg); }
        }

        #left { 
            transform: translate(-100%, 0%); 

            img { transform: rotate(180deg); }
        }

        #right { transform: translate(100%, 0%); }
    }
}

