:root {
  --background-color: #24272b;
  --high-contrast-color: #b5c2b7;
  --default-border: 1px solid var(--high-contrast-color);
  --default-border-radius: 5px;
  --letter-color: white;
  --display-result: none;
  --normal-font-size: min(2vmax, 18px);
  --large-font-size: min(3vmax, 24px);
}

* {
  box-sizing: border-box;
  color: var(--letter-color);
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--default-border-radius);
  background: #4a525a;
  font-size: var(--normal-font-size);
  font-weight: 500;
  padding: 2vmin;
  width: 15vmax;
}

button:focus {
  outline: var(--default-border);
}

#page {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  display: grid;
  grid-template-rows: [page-start] auto [title] min-content [description] auto [buttons] min-content 1fr [page-end];
  grid-template-columns: [page-start] 40% [img-start] 1fr [page-end];
  row-gap: 5vmin;
  column-gap: 2vw;
}

#main-content {
  grid-column: page;
  grid-row: page;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  padding: 4vmin;
}

#search-container {
  grid-row: page-start;
  grid-column: page-start / img-start;
  display: flex;
  padding: 0;
  gap: 2vw;
  max-width: 100%;
}

#search-bar {
  flex: 1;
  font-size: var(--normal-font-size);
  padding: 0 10px;
  border-radius: var(--default-border-radius);
  border: var(--default-border);
  background: none;
  outline: none;
  min-width: 0;
}

#search-submit {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  grid-row: title;
  grid-column: page-start;
  display: var(--display-result);
  padding-right: 10px;

  h1 {
    text-align: justify;
    font-size: var(--large-font-size);
    font-weight: 600;
  }
}

#description {
  grid-row: description;
  grid-column: page-start;
  overflow: auto;
  padding-right: 10px;
  display: var(--display-result);

  p {
    text-align: justify;
    font-size: var(--normal-font-size);
    font-weight: 400;
  }
}

#buttons-container {
  position: relative;
  grid-row: buttons;
  grid-column: page-start;
}

#previous-result {
  display: var(--display-result);
  position: absolute;
  left: 0;
  top: 0;
}

#next-result {
  display: var(--display-result);
  position: absolute;
  right: 0;
  top: 0;
}

#img-container {
  grid-column: img-start;
  grid-row: page;
  display: var(--display-result);
  height: 100%;
  position: relative;

  img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
  }
}

input::placeholder {
  color: var(--high-contrast-color);
}

#no-result {
  background: none;
  border: 0;
  height: 100vh;
  width: 80vw;
  margin: auto;

  h1 {
    text-align: center;
    font-size: 5vmin;
    line-height: 1.5;
    font-weight: 600;
    margin: 30vh auto 10vh auto;
  }

  button {
    width: 20vw;
    font-size: 20px;
    margin: 0 30vw;
  }
}

dialog::backdrop {
  background: var(--background-color);
  opacity: 95%;
}

@media (orientation: portrait) {
  #page {
    width: 100vw;
    background: var(--background-color);
    padding: 0;
    height: 100vh;
    overflow: auto;

    grid-template-rows:
      [page-start] auto
      [title] min-content [description] auto [buttons] min-content [img-start] 1fr [page-end];
    grid-template-columns: 1fr;
  }

  #main-content {
    grid-row: page;
    grid-column: 1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    padding: 4vmin;
  }

  #search-container {
    grid-row: page-start;
    grid-column: 1;
    display: flex;
    padding: 0;
    gap: 2vw;
  }

  #title {
    grid-row: title;
    grid-column: 1;
    display: var(--display-result);
    padding-right: 10px;

    h1 {
      text-align: justify;
      font-size: var(--large-font-size);
      font-weight: 600;
    }
  }

  #description {
    grid-row: description;
    grid-column: 1;
    overflow: auto;
    padding-right: 10px;
    display: var(--display-result);
    width: 100%;

    p {
      text-align: justify;
      font-size: var(--normal-font-size);
      font-weight: 400;
    }
  }

  #buttons-container {
    display: flex;
    justify-content: space-between;
    grid-row: buttons;
    grid-column: 1;
  }

  #img-container {
    grid-row: img-start;
    grid-column: 1;
    display: var(--display-result);
    width: 100%;
    max-height: 100%;
    margin-top: 10vmin;

    img {
      max-width: 100%;
      border: var(--default-border);
      border-radius: var(--default-border-radius);
    }
  }
}
