:root {
  --canvas-color: #e0fda9;
  --background-color: rgb(19, 10, 24);
  --letter-color: #f0f3f9;
  --low-contrast-color: #33203d;
  --medium-contrast-color: #8044ad;
  --snake-segment-color: #011508;
  --block-color: var(--medium-contrast-color);
  --game-over-background-color: #1c0a0a;
  --game-over-text-color: #7fe458;
  --light-red-color: #ff4f4f;
  --light-green-color: #7fe458;
  --light-yellow-color: #f4f76f;
  --large-font-size: 3vmin;
  --normal-font-size: 2.5vmin;
  --max-piece-unit: 4vh;
  --piece-unit: round(down, var(--max-piece-unit), 1px);
  --ingestion-time: 0;
  --snake-eyes-img: url("../../assets/snake-eyes.svg");
  --smile-img: url("../../assets/smile.svg");
  --angry-img: url("../../assets/angry.svg");
  --eyes-img: url("../../assets/eyes.svg");
  --is-options: none;
  --block-color: black;
  --zen-blue: #abd2fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  border-radius: 1vmin;
  color: var(--letter-color);
  font-size: var(--large-font-size);
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
}

h1,
h2,
#score {
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

.enabled:focus {
  outline: 2px solid var(--letter-color);
}

.enabled:hover {
  transform: scale(1.1);
}

em {
  text-decoration: underline;
  font-style: normal;
}

#page {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  margin: auto;
  padding: 5vmin;

  button {
    margin-top: 5vmin;
    padding: 1vmin 5vmin;
  }
}

dialog::backdrop {
  background: var(--background-color);
  opacity: 98%;
}

#alert-message,
#tutorial-message {
  border: 1px solid var(--letter-color);
  background: var(--background-color);
}

#tutorial-message {
  max-width: 80vmin;
}

#tutorial-message p {
  text-align: justify;
  line-height: 1.5;
  overflow: auto;
}

#tutorial-message div {
  display: flex;
  justify-content: space-between;
  button {
    background: var(--low-contrast-color);
    max-width: 30vmin;
  }
}

#game-over {
  padding: 10vmin;

  h1 {
    font-size: 3rem;
    margin: 2vmin;
  }

  p {
    font-size: 1rem;
    margin: 2vmin;
  }

  button {
    background-color: var(--low-contrast-color);
  }
}

#final-score span {
  color: var(--light-red-color);
}

#best-score span {
  text-decoration: underline;
}

#directional-buttons {
  margin: 0 2vw;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  place-items: center;

  button {
    width: 10vmin;
    aspect-ratio: 1;
    position: absolute;
    transform-origin: center;
  }
}

#up {
  transform: translateY(-150%) rotate(-90deg);
}

#left {
  transform: translateX(-150%) rotate(180deg);
}

#down {
  transform: translateY(150%) rotate(90deg);
}

#right {
  transform: translateX(150%);
}

#game {
  border: 0;
  border-radius: 0;
  margin-left: 2vw;
  max-width: calc(100% - 40vmin - 4vw);
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--piece-unit));
  grid-template-rows: repeat(auto-fill, var(--piece-unit));
  background-color: var(--canvas-color);
  position: relative;
}

#after-canvas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3vh;
  margin: 0 2vw;
}

#difficulty {
  display: grid;
  grid-template-areas:
    "title title title title"
    "btn1  btn2  btn3  btn4 ";
  row-gap: 5vh;
  column-gap: 1vw;
  margin: 0 1vmin 1vmin 1vmin;

  h2 {
    width: 100%;
    grid-area: title;
    font-weight: 600;
    border-radius: 0;
    border-bottom: 1px solid var(--letter-color);
  }

  button {
    width: 7.5vmin;
    aspect-ratio: 1;
  }
}

#zen:focus {
  outline: 2px solid var(--zen-blue);
}

#easy:focus {
  outline: 2px solid var(--light-green-color);
}

#medium:focus {
  outline: 2px solid var(--light-yellow-color);
}

#hard:focus {
  outline: 2px solid var(--light-red-color);
}

#game-stats {
  margin: 1vh 0 3vh;
  flex: initial;
  display: flex;
  gap: 1vw;

  p {
    background: var(--low-contrast-color);
    flex: auto;
  }
}

#show-tutorial {
  background: var(--low-contrast-color);
  flex: initial;
  padding: 1vh 0;
}

#open-options {
  background: var(--low-contrast-color);
  flex: initial;
  padding: 1vh 0;
}

#options-modal {
  border: 1px solid var(--letter-color);
  background: var(--background-color);
  padding: 5vmin;
  width: 80vmin;
  height: 80vmin;
  position: fixed;

  button {
    background-color: var(--low-contrast-color);
    padding: 1vmin 2vmin;
  }
}

#options-tablist {
  display: flex;
  gap: 1vmin;
  justify-content: space-between;

  a {
    font-style: normal;
    text-decoration: none;
  }
}

.options-tab {
  max-width: 30vmin;
  flex: 1;
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  padding: 1vmin 2vmin;
  border-radius: 1vmin;
  margin: 0;
  
  h2 {
    font-weight: 600;
  }
}

[role="tab"]:hover {
  transform: scale(1.1);
}

[aria-selected="true"] {
  box-shadow: 0 4px 10px black;
}

.option-selector {
  display: none;
  box-shadow: 0 4px 10px black;
  position: relative;
  padding: 5vmin;
  border-radius: 0;
  margin: 5vmin 0;
}

.option-selector:target {
  display: grid;
}

#color-selectors {
  max-height: 50vmin;
  grid-template-columns: 1fr repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  column-gap: 5vmin;
  row-gap: 5vmin;
  align-items: center;

  div {
    grid-column: 1 / end;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

    h3 {
      text-align: justify;
      grid-column: 2;
    }

    input {
      border-radius: 0;
      grid-column: 3;
    }

    button {
      grid-column: 4;
    }
  }

  #first-row {
    grid-row: 1;
  }

  #second-row {
    grid-row: 2;
  }

  #third-row {
    grid-row: 3;
  }

  button {
    margin: 0;
    grid-column: 2/5;
  }

  #randomize-everything {
    grid-row: 4;
  }
}

.close-options {
  margin: 0 auto;
  width: 50%;
}

#gameplay-selectors {
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr repeat(3, auto);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5vmin;

  label {
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
  }

  input {
    margin-left: 2vw;
  }
}

.color-button:focus {
  box-shadow: 0 0 0 2px var(--letter-color);
  outline: 1px solid var(--background-color);
}

#game-flow-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1vmin;
  align-items: center;
  height: 100%;

  button {
    width: 15vmin;
    height: 15vmin;
  }
}

#start-pause:focus {
  outline: 1px solid var(--light-green-color);
}

#stop:focus {
  outline: none;
}

.piece {
  --row: 0;
  --col: 0;

  background-color: transparent;
  grid-column: var(--col);
  grid-row: var(--row);
  display: none;
}

.piece.block {
  background-color: var(--block-color);
}

.piece.smiley {
  border-radius: 50%;
  background-image: var(--smile-img), var(--eyes-img);
}

.piece.angry {
  background-image: var(--eyes-img), var(--angry-img);
}

.piece.seed {
  clip-path: ellipse(40% 30% at 50% 50%);
}

.piece.flower {
  background-image: url("../../assets/flower.svg");
}

.piece.head {
  --direction: LEFT;
  background-image: var(--snake-eyes-img);
  background-color: var(--snake-segment-color);

  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.piece.snake-segment {
  border-radius: 0;
  background-color: var(--snake-segment-color);
  border-left: 1px solid var(--canvas-color);
  transition: background-color var(--ingestion-time) linear,
    border-radius var(--ingestion-time) linear;
  box-shadow: 5px 5px 10px rgb(0, 10, 0, 0.5);
}

#snake-eyes {
  fill: var(--canvas-color);
}

@keyframes LEFT-UP {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes LEFT-DOWN {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@keyframes LEFT-RIGHT {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes RIGHT-UP {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes RIGHT-DOWN {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@keyframes RIGHT-LEFT {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes UP-LEFT {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes UP-RIGHT {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes UP-DOWN {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@keyframes DOWN-LEFT {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes DOWN-RIGHT {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes DOWN-UP {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@media (pointer: coarse) {
  button:focus {
    outline: none;
  }

  #easy:focus {
    outline: 2px solid var(--light-green-color);
  }

  #medium:focus {
    outline: 2px solid var(--light-yellow-color);
  }

  #hard:focus {
    outline: 2px solid var(--light-red-color);
  }

  #game {
    max-width: calc(100% - 80vmin - 8vw);
    margin-left: 0;
  }

  #directional-buttons {
    display: grid;
  }
}
