:root {
    --canvas-width: 90vmin;
    --canvas-height: 90vmin;
    --before-canvas-width: 50vmin;
    --after-canvas-width: 40vmin;
    --game-canvas-margin: 5vmin;
    --directional-button-size: 12vmin;
    --difficulty-button-size: 10vmin;
    --gameflow-button-size: 20vmin;
    --canvas-color: rgb(214, 223, 138);
    --background-color: #211d2f;
    --letter-color: #f0f3f9;
    --medium-contrast-color: ;
    --piece-color: black;
}

* { 
    box-sizing: border-box;
}

.button {
    color: var(--letter-color);            
    padding: 1vmin;
    font-weight: 400; 
    background: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--background-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page {
    background: var(--background-color);
    display: flex;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 0 0;
    align-items: center;
}

#directional-buttons { display: none; }

@media screen and (pointer: coarse) {
    #directional-buttons {
        display: block;
        min-width: var(--before-canvas-width);
        position: relative;

        #up, #down, #left, #right {
            border-radius: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            width: var(--directional-button-size);
            height: var(--directional-button-size);
            background: var(--background-color);
        }
        
        #up { transform: translate(-50%, -200%) rotate(-90deg); }

        #down { transform: translate(-50%, 100%) rotate(90deg); }

        #left { transform: translate(-200%, -50%) rotate(180deg); }

        #right { transform: translate(100%, -50%); }
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

#alert-message, #tutorial-message {
    background: var(--background-color);
    color: var(--letter-color);
    font-size: 16px;
    position: fixed;
    border-radius: 10px;
    border: 1px solid var(--letter-color);
}

#tutorial-message {
    --button-font-size: 14px;
    --button-width: calc(5 * var(--button-font-size));

    p {
        text-align: justify;
        line-height: 130%;
    }

    div {
        display: grid;
        grid-template-columns: [first-button] var(--button-width) 1fr [second-button] var(--button-width);
        align-items: center;
    }
}

#close-alert, #close-tutorial, #next-tutorial {
    background: var(--letter-color);
    color: var(--background-color);
    font-weight: 400;
    font-size: var(--button-font-size);
    border-radius: 5px;
}

#next-tutorial { grid-column: first-button; }

#close-tutorial { grid-column: second-button; }

#game {
    display: flex;
    justify-content: center;
    height: var(--canvas-height);
    width: var(--canvas-width);
}

#game-canvas {
    flex-grow: 1;
    border: 0.5vmin solid black;
    border-radius: 1vmin;    
    image-rendering: crisp-edges;
}

#after-canvas {
    height: var(--canvas-height);
    width: calc(100% - var(--canvas-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-stats {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 5vmin 5vmin 5vmin;
    gap: 5vmin;
}

#game-stats h1 { 
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#game-stats h1, #score-board {
    font-size: 3vmin;
    font-weight: 400;
    color: var(--letter-color);
}

#difficulty-buttons {
    flex-grow: 1;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

#easy, #medium, #hard { 
    flex-basis: var(--difficulty-button-size);
}

#score-board {
    height: auto;
    display: flex;
    text-transform: uppercase;
    gap: 5vmin;
}

#score {
    text-align: center;
    flex-grow: 1;
    background: #302b42;
    border-radius: 5px;
}

#control-panel {
    display: flex;
    flex-basis: 10%;
}

#show-tutorial {
    flex-grow: 1;
    background: #302b42; 
    text-transform: capitalize;
    color: var(--letter-color); 
    border: 0;
    margin: 5vmin;
    font-size: 2.5vmin;
}

#game-flow-buttons {
    flex-grow: 5;
    display: grid;
    grid-template-rows: 1fr var(--gameflow-button-size) 1fr;
    grid-template-columns: 1fr var(--gameflow-button-size) 1fr var(--gameflow-button-size) 1fr;
}

#start-pause, #stop { grid-row: 2/3; }
#start-pause { grid-column: 2/3; }
#stop { grid-column: 4/5; }




