:root {
    --canvas-width: 90vmin;
    --canvas-height: 90vmin;
    --before-canvas-width: 50vmin;
    --after-canvas-width: 40vmin;
    --game-canvas-margin: 5vmin;
    --directional-button-size: 12vmin;
    --difficulty-button-size: 10vmin;
    --gameflow-button-size: 20vmin;
    --canvas-color: rgb(214, 223, 138);
    --background-color: #211d2f;
    --letter-color: #f0f3f9;
    --medium-contrast-color: ;
    --piece-color: black;
    --game-over-background-color: rgba(28, 10, 10);
    --game-over-text-color: #7FE458;
    --light-red-color: #FF4F4F;
    --light-green-color: #7FE458;
    --light-yellow-color: rgb(244, 247, 111);
    --head-text-size: calc(0.75vw + 0.75rem);
    --common-text-size: calc(0.5vw + 0.5rem)
}

@font-face {
    font-family: Atkinson;
    src: url("./fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2"),
         url("./fonts/AtkinsonHyperlegible-Regular.ttf") format("ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Atkinson;
    src: url("./fonts/AtkinsonHyperlegible-Bold.woff2") format("woff2"),
         url("./fonts/AtkinsonHyperlegible-Bold.ttf") format("ttf");
    font-weight: 700;
    font-display: swap;
}

* { 
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
}

.button {
    cursor: pointer;
    color: var(--letter-color);            
    padding: 1vmin;
    background: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--background-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page {
    background: var(--background-color);
    display: flex;
    font-family: Atkinson;
    width: 100vw;
    height: 100vh;
    padding: 0 0;
    align-items: center;
}

#directional-buttons { display: none; }

@media screen and (pointer: coarse) {
    #directional-buttons {
        display: block;
        min-width: var(--before-canvas-width);
        position: relative;

        #up, #down, #left, #right {
            border-radius: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            width: var(--directional-button-size);
            height: var(--directional-button-size);
            background: var(--background-color);
        }
        
        #up { transform: translate(-50%, -200%) rotate(-90deg); }

        #down { transform: translate(-50%, 100%) rotate(90deg); }

        #left { transform: translate(-200%, -50%) rotate(180deg); }

        #right { transform: translate(100%, -50%); }
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.9);
}

body.game-over dialog::backdrop {
    background: var(--game-over-background-color);
    opacity: 95%;
}

body.game-over #game-over {
    border: 0;
    background: none;    

    p {
        text-align: center;
        width: auto;
        height: 6vw;
        font-size: 6vw;
        text-transform: uppercase;
        color: var(--game-over-text-color);
    }

    div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        button {
            border: 0;
            background: var(--game-over-background-color);
            outline: 1px solid var(--game-over-text-color);
            border-radius: 0.5vmin;
            text-transform: uppercase;
            line-height: 1.5;
            font-size: 2vw;
            padding: 0 1vw;
            color: var(--game-over-text-color);
        }
        
    }
}

#alert-message, #tutorial-message {
    background: var(--background-color);
    color: var(--letter-color);
    font-size: calc(0.75vw + 0.75rem);
    position: fixed;
    border-radius: 10px;
    border: 1px solid var(--letter-color);
}

#tutorial-message {
    --button-width: calc(4 * var(--common-text-size));

    padding: 3vmin;

    p {
        font-size: var(--common-text-size);
        text-align: justify;
        line-height: 150%;
    }

    div {
        display: grid;
        grid-template-columns: [first-button] var(--button-width) 1fr [second-button] var(--button-width);
        align-items: center;
        margin: 5vh 0 0 0;
    }
}

#close-alert, #close-tutorial, #next-tutorial {
    background: var(--letter-color);
    color: var(--background-color);
    font-weight: 400;
    font-size: var(--common-text-size);
    border-radius: 5px;
}

#next-tutorial { grid-column: first-button; }

#close-tutorial { grid-column: second-button; }

#game {
    display: flex;
    justify-content: center;
    height: var(--canvas-height);
    width: var(--canvas-width);
}

#game-canvas {
    flex-grow: 1;
    border: 0.5vmin solid black;
    border-radius: 1vmin;    
    image-rendering: crisp-edges;
}

#after-canvas {
    height: var(--canvas-height);
    width: calc(100% - var(--canvas-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-stats {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 2vw 5vh 2vw;
    gap: 5vh;
}

#game-stats h1 { 
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#game-stats h1, #score-board, #show-tutorial {
    color: var(--letter-color);
}

#game-stats h1, #score-board {
    font-size: var(--head-text-size);
}

#show-tutorial {
    font-size: var(--common-text-size);
}

#difficulty-buttons {
    flex-grow: 1;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

#easy, #medium, #hard { 
    flex-basis: var(--difficulty-button-size);
}

#score-board {
    height: auto;
    display: flex;
    text-transform: uppercase;
    gap: 1vw;
}

#score {
    text-align: center;
    flex-grow: 1;
    background: #302b42;
    border-radius: 5px;
}

#control-panel {
    display: flex;
    flex-basis: 10%;
}

#show-tutorial {
    flex-grow: 1;
    background: #302b42; 
    text-transform: capitalize;
    border: 0;
    margin: 5vh 2vw;
}

#game-flow-buttons {
    flex-grow: 5;
    display: grid;
    grid-template-rows: 1fr var(--gameflow-button-size) 1fr;
    grid-template-columns: 1fr var(--gameflow-button-size) 1fr var(--gameflow-button-size) 1fr;
}

#start-pause, #stop { grid-row: 2/3; }
#start-pause { grid-column: 2/3; }
#stop { grid-column: 4/5; }




