:root {
  --canvas-color: #ccec90;
  --background-color: #1b0f21;
  --letter-color: #f0f3f9;
  --low-contrast-color: #33203d;
  --medium-contrast-color: #8044ad;
  --piece-color: black;
  --game-over-background-color: #1c0a0a;
  --game-over-text-color: #7fe458;
  --light-red-color: #ff4f4f;
  --light-green-color: #7fe458;
  --light-yellow-color: #f4f76f;
  --large-font-size: 3vmin;
  --normal-font-size: 3vmin;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  border-radius: 1vmin;
  color: var(--letter-color);
  font-size: var(--large-font-size);
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
}

h1,
#score {
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

#page {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  padding: 5vh 2vw;
  gap: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog {
  margin: auto;
  padding: 5vmin;

  button {
    margin-top: 5vmin;
    padding: 1vmin 5vmin;
  }
}

dialog::backdrop {
  background: var(--background-color);
  opacity: 95%;
}

#alert-message,
#tutorial-message {
  border: 1px solid var(--letter-color);
  background: var(--background-color);
}

#tutorial-message p {
  text-align: justify;
  line-height: 1.5;
}

#tutorial-message div {
  display: flex;
  justify-content: space-between;
  button {
    background: var(--low-contrast-color);
    width: calc(5vmin + 4rem);
  }
}

#game-over {
  padding: 10vmin;

  p {
    font-size: 3rem;
    margin: 2vmin;
    text-transform: uppercase;
  }
}

#directional-buttons {
  display: none;
}

#game {
  border: 0;
  border-radius: 0;
  max-width: calc(100% - 40vmin);
  max-height: 100%;
  background: var(--canvas-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, 25px);
  grid-template-rows: repeat(auto-fill, 25px);
}

#after-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5vh;
}

#difficulty {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: [title] 100% [buttons] 100%;
  row-gap: 5vh;
  column-gap: 1vw;
  place-items: center;

  h1 {
    grid-row: title;
    grid-column: 1 / 4;
  }

  button {
    width: 10vmin;
    aspect-ratio: 1;
    grid-row: buttons;
  }
}

#game-stats {
  display: flex;
  width: 100%;
  gap: 2vw;

  p {
    background: var(--low-contrast-color);
    flex-grow: 1;
  }
}

#tutorial-container {
  background: var(--low-contrast-color);
  width: 100%;
  text-transform: capitalize;
  padding: 1vh 0;
  display: grid;
  place-items: center;
}

#game-flow-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 15vmin;
    aspect-ratio: 1;
  }
}

.piece {
  --row: 0;
  --col: 0;
  width: 25px;
  aspect-ratio: 1;
  background-color: var(--piece-color);
  border: 1px solid var(--canvas-color);
  border-radius: 0;
  grid-column: var(--col);
  grid-row: var(--row);
}

@media (pointer: coarse) {
  #game {
    max-width: calc(100% - 80vmin);
  }

  #directional-buttons {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;

    button {
      width: 10vmin;
      aspect-ratio: 1;
      position: absolute;
      transform-origin: center;
    }
  }

  #up {
    transform: translateY(-150%) rotate(-90deg);
  }

  #left {
    transform: translateX(-150%) rotate(180deg);
  }

  #down {
    transform: translateY(150%) rotate(90deg);
  }

  #right {
    transform: translateX(150%);
  }
}
